/*CSS reset*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

html {
    background: rgba(0, 0, 0, 0) url("http://www.publicdomainpictures.net/pictures/30000/velka/a-blue-sky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    color: floralwhite;
    font-size: 3em;
    text-align: center;
}

form.js-search-form {
    text-align: center;
}

input.js-query {
    width: 400px;
}

button {
    cursor: pointer;
    border: 2px solid darkblue;
    color: darkblue;
    background-color: lightgrey;
}

button:hover {
    background-color: darkblue;
    color: lightgray;
}

.js-search-results ul {
    overflow: hidden;
    margin-top: 1em;
    list-style-type: none;
}

.js-search-results li {
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
}

.js-search-results li img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 10px;
}

.js-search-results li p {
    padding-bottom: .25em;
    margin-bottom: .25em;
    border-bottom: 1px solid black;
    min-height: 2rem;
    font-size: 3rem;
}
